#result{
	display:none;
	margin: auto;
	width:auto;
	border-radius:1em;
	font-weight:bold;
}

body { 
	font-family: tahoma, sans-serif; 
	text-align:center;
	background-color:#eed;
}

.buttonLike { 
	font-weight: bold; 
	display: inline-block; 
	padding: 5px; 
	padding-left: .2em; 
	padding-right: .2em; 
	background-color: #ccc; 
	border: double .2em maroon; 
	color: #000; 
	text-decoration: none;
	font-family: Verdana, sans-serif; 
	font-size: 12pt;
	margin: 5px;
	border-radius:.5em;
}

/*a:hover,input:hover[type=submit], input:hover[type=button]*/.buttonLike:hover { 
	background-color: #000; 
	color: #fff; 
}
	

td {
vertical-align:top;
font-size:1em;
}

#footer {
    height: 2.5em;
    width: 12em;
    border-color: #b35919;
    background-color: #600;
    border-style: dashed;
    border-width: .24em;
    border-radius: 5px;
    margin: auto;
    text-align: center;
	font-size:1.5em;
	font-family:Verdana;
}
.datasetName, .datasetName td{
	background-color:#aaa;
	font-size:2em;
	border:.1em solid maroon;
}
#adminTable {
	display:table-cell;
	text-align:center;
	background-color:maroon;
}
#adminTable table, #index table {
	border:.2em inset red;
	background-color:maroon;
}
#adminTable td td, #index td td{
	font-size:.8em;
	vertical-align:middle;
	background-color:#abe;
	text-align:center;
	font-weight:bold;
}
#interface textarea {
	background-color:#f5f5f5;
	resize:none;
}

#interface textarea, #editor {
  width:45%;
	border-radius:1em;
}

#interface{
	border:1em groove maroon;
	border-radius:1.3em;
}
#interface form {
	background-color:#a66;
	font-weight:bold;
	font-size:1.3em;
}

#username, #alias {
	background-color:#fafafa;
}

#head1 {
  font-size:3em;
  
}
#head2, #head2 div{
  display:inline;
  font-size:1.5em;
}