{% extends "template.html" %}
{% block title %}Annotate{% endblock %}
{% block head %}
<style type="text/css" media="screen">
  #editor {
    position:relative !important;
    background-color:white;
    color:black;
    border:1px solid lightgray;
    margin:auto;
    height:10em;
    text-align:left;
    font-weight:normal;
    }
  
</style>
{% endblock %}

{% block body %}

<div id="head1">
  Dataset: {{ c[0] }} Batch: {{ c[1] }} <br></div>
  <div id="head2">Number <div id="index"></div> of <div id="lastInd"></div></div>

<div id="interface">
	Sentence:<br>
	<textarea id="sent" name="sent" rows="3" cols="70" accept-charset="UTF-8"></textarea><br>
	Annotation:<br>
	<pre id="editor"></pre>
	{% if newswire %}
		Normalization:<br>
		<textarea id="newswire" name="newswire" rows="2" cols="70" accept-charset="UTF-8"></textarea><br>
	{% endif %}
	Comments:<br>
	<textarea id="comment" name="comment" rows="2" cols="70" accept-charset="UTF-8"></textarea><br>
	
	<input class="buttonLike" type="button" id="last" value="&lt;" onclick="prevAnno();"/>
	<input class="buttonLike" type="button" value="Analyze" onclick="loadImage();"/>
	<input class="buttonLike" type="button" id="save" value="Submit" onclick = "postAnno();" disabled/>
	<input class="buttonLike" type="button" id="next" value="&gt;" onclick="nextAnno();"/>
	</div>
<a class="buttonLike" href="{{ url_for('home') }}">Home</a>
<div id="result"></div>

<script src="{{ url_for('static', filename='ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/dreamweaver");
    editor.getSession().setMode("{{ url_for('static', filename="ace-builds/src-min-noconflict/mode-plain_text.js") }}");
    
    var dataset = "{{ c[0] }}";
    var batch = "{{ c[1] }}";
    
  $(document).ready(function(){
    $.get("/api/getBatch?dataset="+encodeURIComponent(dataset)+"&batch="+encodeURIComponent(batch))
    .success(function(data){
      window.batchDict = JSON.parse(data);
      window.lastInd = Object.keys(window.batchDict).length - 3;
      var x = false;
      window.currentInd = "0";
      while (!(x) && (parseInt(window.currentInd) < window.lastInd)){
        if (window.batchDict[window.currentInd].submitted == false){
          var x = true;
        }
        else{
          console.log(window.batchDict[window.currentInd].submitted == false);
          window.currentInd = parseInt(window.currentInd) + 1 + '';
        }
      }
      popForm();
    })
    .fail(function(data){
      console.log(data);
    });
});
</script>
{% endblock %}
